<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header">

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Portfolio - Akshay Gurao"/>
        <meta name="author" content="Akshay Gurao"/>

        <title>Akshay Gurao</title>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"></link>

        <!-- Custom Fonts -->
        <link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"></link>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"></link>
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css}"></link>

        <!-- Custom CSS -->
        <link rel="stylesheet" th:href="@{https://s3.amazonaws.com/portfolio-akshay/stylish-portfolio.min.css}"></link>
    </div>
</head>
<body>
</body>
</html>
