<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>
<script>

    $(document).ready(function() {

        $("#loginform").submit(function (e) {

            var email = $("#email").val();
            var password = $("#pwd").val();
            $.ajax({
                type:'POST',
                url: 'http://localhost:8080/loginUser',
                data:
                    JSON.stringify({email:email,
                        password: password}),
                async:false,
                dataType: 'json',
                contentType: "application/json",

                success: function (response) {
                    alert("Login failed!");
                    window.open("/login");
                    window.close();


                },
                error:function (xMLHttpRequest,textStatus,error) {
                    window.alert("Login Successful!");
                    window.open("/loginSuccess");
                    window.close();
                }
            }).done();
        });
    });

</script>

<!-- Page Content -->
<div class="container">
    <p>
        Login here!
    </p>

    <br/>
    <form class="form-horizontal" id="loginform">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email"></input>
                <input type="password" class="form-control" id="pwd" placeholder="Password" name="password"></input>
                <input type="submit" class="btn btn-primary btn-block" value="Login"></input>
            </div>
        </div>
    </form>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
