<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<!-- Page Content -->
<div class="container">
    <p>
        Register here!
    </p>

    <br></br>
    <form class="form-horizontal" action="/" method="POST" enctype="utf8">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email"></input>
                <span id="emailError" style="display:none"></span>
                <input type="password" class="form-control" id="pwd" placeholder="Password" name="password"></input>
                <span id="passwordError" style="display:none"></span>
                <button href="#" onclick="register()" class="btn btn-primary btn-block" value="Register">Register</button>
            </div>
        </div>
    </form>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>


<script type="text/javascript">
    var serverContext = [[@{/user/}]];

        function register(){
            $(".alert").html("").hide();
            var formData= $('form').serialize();
            $.post(serverContext + "/registerUser",formData ,function(data){
                if(data.message == "success"){
                    window.location.href = serverContext +"/successRegister.html";
                }
            })
                .fail(function(data) {
                    if(data.responseJSON.error.indexOf("MailError") > -1)
                    {
                        window.location.href = serverContext + "/emailError.html";
                    }
                    else if(data.responseJSON.error.indexOf("InternalError") > -1){
                        window.location.href = serverContext +
                            "/login.html?message=" + data.responseJSON.message;
                    }
                    else if(data.responseJSON.error == "UserAlreadyExist"){
                        $("#emailError").show().html(data.responseJSON.message);
                    }
                    else{
                        var errors = $.parseJSON(data.responseJSON.message);
                        $.each( errors, function( index,item ){
                            $("#"+item.field+"Error").show().html(item.defaultMessage);
                        });
                        errors = $.parseJSON(data.responseJSON.error);
                        $.each( errors, function( index,item ){
                            $("#globalError").show().append(item.defaultMessage+"<br></br>");
                        });
                    }
                }
</script>
</body>
</html>
