<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/navigation :: navigation"/>

<!-- Page Content -->
<div class="container">
    <p>
        Register here!
    </p>

    <br></br>
    <form class="form-horizontal" id="registerform">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email"></input>
                <input type="text" class="form-control" id="pwd" placeholder="Password" name="password"></input>
                <input type="submit" class="btn btn-primary btn-block" value="Register">Register</input>
            </div>
        </div>
    </form>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<script>
    $(document).ready(function () {

        $("#registerform").submit(function (e) {

            var email = $("#email").val();
            var password = $("#pwd").val();
            window.alert(email + " " + password);
            if($.ajax({
                    type: 'POST',
                    url: 'http://localhost:8080/registerUser',
                    data:
                        JSON.stringify({
                            email: email,
                            password: password
                        }),
                    async: false,
                    dataType: 'json',
                    contentType: "application/json",

                    success: function (response) {
                        window.alert("response received");
                        window.alert(response.message.toString());
                    },
                    error: function (xMLHttpRequest, textStatus, error) {
                        window.alert(xMLHttpRequest.status.toString());
                        window.alert(xMLHttpRequest.getResponseHeader().toString());
                    }
                }).done())
                if(alert("Registration Success! Redirect to login?"))$.get("http://localhost:8080/login");
        });
    })


</script>
</body>
</html>